In [7]:
#18. Insert,Pop,Remove,Reverse in LIST

fruits=['apple','banana','cherry']
fruits.insert(1,'orange')
print(fruits)

print(fruits.pop())

fruits=['apple','banana','cherry','papaya']
fruits.remove('banana')
print(fruits)

age=[56,33,42,12,43,15]
age.reverse()
age

['apple', 'orange', 'banana', 'cherry']
cherry
['apple', 'cherry', 'papaya']

[15, 43, 12, 42, 33, 56]