In [10]:
#03. Program to print the table of a number entered by user

a=int(input("enter any number"))
b=1
while (b<11):
  print(a,"X",b,"=",b*a)
  b=b+1

enter any number9887756
9887756 X 1 = 9887756
9887756 X 2 = 19775512
9887756 X 3 = 29663268
9887756 X 4 = 39551024
9887756 X 5 = 49438780
9887756 X 6 = 59326536
9887756 X 7 = 69214292
9887756 X 8 = 79102048
9887756 X 9 = 88989804
9887756 X 10 = 98877560